In [31]:
c1_name= "Mr. Farley"
c1_age = 65
c1_profession = "Web Developer"
c1_salary = 100000
c1_rent = c1_monthly_rent / 12
c1_species = "cat"
c1_location = "San Francisco, CA"
c1_monthly_rent= 2000
c1_monthly_expenses= 1500
c1_yearly_rent= (c1_monthly_rent*12)
c1_yearly_expenses = 1500*12
c1_savings= (c1_salary - c1_yearly_rent + c1_yearly_expenses)

c2_name= "Mr. Snuggles"
c2_age = 50
c2_profession = "Accountant"
c2_salary = 70000
c2_rent = c2_monthly_rent / 12
c2_species = "mouse"
c2_location = "Oakland, CA"
c2_monthly_rent= 4000
c2_monthly_expenses=500
c2_yearly_rent= (c2_monthly_rent*12)
c2_yearly_expenses = (c2_monthly_expenses*12)
c2_savings= (c1_salary - c1_yearly_rent + c1_yearly_expenses)

In [32]:
c1_savings

94000

In [33]:
c1_yearly_rent

24000

In [34]:
if c1_name == "Mr. Farley":
    print(f"Hello {c1_name}")
else:
    print("Hello Stranger")

Hello Mr. Farley

In [35]:
if c2_age > c1_age:
    print(f"{c1_name} is older than {c2_name}.")
if c1_age > c2_age:
    print(f"{c2_name} is older than {c1_name}.")
elif c1_age == c2_age:
    print(f"{c1_name} is the same age as {c2_name}.")

Mr. Snuggles is older than Mr. Farley.

In [36]:
if c1_location == "San Francisco, CA":
    print(f"{c1_name} comes from the home of the Raiders.")
if c2_location == "San Francisco, CA":
    print(f"{c1_name} comes from the home of the 49ers!")
elif c1_location != "San Francisco, CA":
    print(f"{c1_name} doesn't hail from a sports town!.")

Mr. Farley comes from the home of the Raiders.

In [38]:
if c1_rent > c2_rent:
    print(f"{c1_name} pays less than {c2_name}.")
if c1_rent < c2_rent:
    print(f"{c1_name} pays less than {c2_name}.")
elif c1_rent == c2_rent:
    print(f"{c1_name} pays the same as {c2_name}.")

Mr. Farley pays less than Mr. Snuggles.

In [39]:
if c1_monthly_expenses > c2_monthly_expenses:
    print(f"{c1_name} has more expenses than {c2_name}.")
if c1_monthly_expenses < c2_monthly_expenses:
    print(f"{c1_name} pays less expenses than {c2_name}.")
elif c1_monthly_expenses == c2_monthly_expenses:
    print(f"{c1_name} pays the same expenses as {c2_name}.")

Mr. Farley has more expenses than Mr. Snuggles.

In [40]:
if c1_profession == "Web Developer":
    print("Look a Web Developer")
else:
    print("They are professionals")

Look a Web Developer