In [1]:
our_list = []

In [3]:
our_list.append(1)

In [4]:
our_list

[1]

In [5]:
our_list.append("Hello")

In [6]:
our_list.append(False)

In [7]:
our_list.append(84)

In [8]:
our_list.append("world")

In [9]:
our_list

[1, 'Hello', False, 84, 'world']

In [10]:
one_to_ten = [1,2,3,4,5,6,7,8,9,10]

In [11]:
one_to_ten[3]

4

In [12]:
one_to_ten[6]

7

In [15]:
num_list = [2, 65, 3, 7, 39, 22, 11, 94, 299, 9, 20, 21, 51, 37]

In [16]:
for num in num_list:
    if num > 50:
        print(num)

65
94
299
51

In [19]:
index = 0
for num in num_list:
    if num == 11:
        print(index)
    index += 1

6

In [22]:
print("Sum of all numbers:")
sum = 0
for num in num_list:
    sum += num
print(sum)

Sum of all numbers:
680

In [23]:
for num in num_list:
    if num > 50:
        sum += num
print(sum)

1189

In [24]:
sum = 0
for num in num_list:
    if num % 2 ==0:
        sum += num
print(sum)

138

In [25]:
fruits = [
  "Apple", "Orange", "Banana", "Pomelo", "Apple", "Kiwi", "Peach", "Banana", "Grape", "Tomato",
  "Kiwi", "Apple", "Watermelon", "Lemon", "Pomelo", "Apple", "Banana", "Peach", "Apricot", "Grape"]

In [26]:
count = 0
for item in fruits:
    if item == "Apple":
        count += 1
print(count)

4

In [27]:
count = 0
for item in fruits:
    if item == "Peach":
        count += 1
print(count)

2

In [28]:
count = 0
for item in fruits:
    if item[0] == "P":
        count += 1
print(count)

4

In [29]:
unique_fruits = []

In [32]:
for item in fruits:
    if item not in unique_fruits:
        unique_fruits.append(item)
        
print(unique_fruits)

['Apple', 'Orange', 'Banana', 'Pomelo', 'Kiwi', 'Peach', 'Grape', 'Tomato', 'Watermelon', 'Lemon', 'Apricot']

In [33]:
unique_fruits

['Apple',
 'Orange',
 'Banana',
 'Pomelo',
 'Kiwi',
 'Peach',
 'Grape',
 'Tomato',
 'Watermelon',
 'Lemon',
 'Apricot']

In [34]:
two_dim_list = [
  [54, 6, 7, 46, 78],
  [43, 9, 6, 65, 65],
  [32, 1, 44, 1, 23],
  [55, 12, 2, 34, 2],
  [2, 12, 44, 2, 12]]

In [37]:
for num in two_dim_list[0]:
    if num < 25:
        print(num)

6
7

In [38]:
for num in two_dim_list[4]:
    if num < 25:
        print(num)

2
12
2
12

In [39]:
for one_list in two_dim_list:
    for num in one_list:
        if num % 2!= 0:
            print(num)

7
43
9
65
65
1
1
23
55

In [40]:
for one_list in two_dim_list:
    for num in one_list:
        if num % 3 == 0:
            sum += num
print(sum)

327